{% extends 'base.html' %}
{% block content %}

<nav class="navbar row">
    <p class="h1">Hello {{users.first_name}}!</p>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="/wishes" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/new">Make a wish!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/stats">View stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul> 
</nav>
    <!-- <p class="h3">Your Wish list: </p>
    <div class="border mt-3">
        <table class="table table-striped">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Date added</th>
                <th scope="col">Actions</th>
            </tr>
            {% for wish in wishes %}
            {% if users in wish.like.all %}
            <tr>
                <td>{{wish.item}}</td>
                <td>{{wish.date_added}}</td>
                <td><a href="/wishes/{{wish.id}}/delete" target="_SELF">Remove</a> | <a href="/wishes/{{wish.id}}/edit" target="_SELF">Edit</a> | <a href="/wishes/{{wish.id}}/granted" target="_SELF">Granted</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <p class="h3 pt-3">Generated wishes: </p>
    <div class="border mt-3">
        <table class="table table-striped">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Wisher</th>
                <th scope="col">Date added</th>
                <th scope="col"> Date Granted</th>
                <th scope="col">Likes</th>
                <th scope="col">Actions</th>
            </tr>
            {% for wish in wishes %}
            {% if not users in wish.like.all %}
            <tr>
                <td>{{wish.item}}</td>
                <td>{{wish.made_by.first_name}}</td>
                <td>{{wish.date_added}}</td>
                <td>{{wish.date_granted}}</td>
                <td>{{wish.like.all | length}}</td>
                {% if not users in wish.like.all %}
                    <td> <a href="/wishes/{{wish.id}}" target="_SELF">Like</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                
            </tr>
            {% endif %}
            {% endfor %}
        </table> -->
    </div>

{% endblock %}