*{
  margin:0%;
  padding: 0%;
  border: 1px red dotted;
  box-sizing: border-box;
}
  body{
    background: linear-gradient(-30deg, #93abba 0%, #3a78b7 20%, #262626 67%, #607d8b 100%);
    width: inherit;
    font-family:Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  }
  div.login_registration_card{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: inherit;
    /* filter: hue-rotate(120deg); */
  }
  p#title.h3{
    text-align: left;
  }
  div.box{
    position: relative;
    padding: 50px;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
    text-decoration: #fff;
  }
  .box::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
  }
  .form{
    position: relative;
    width: 100%;
  }
  p#title{
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  form p.formFormat{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px 5px 5px 0px;
    width: 100%;
  }
  .logReg-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  Link:link{
    text-decoration: underline;
  }
@media screen and (min-width: 601px){
.formFormat label{
  padding: 5px 10px 0px 0px;
  font-weight: 900;
  width: 45%;
  /* white-space: nowrap; */
  font-size: 1.25rem;
}
.form .h5{
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.form .field{
  width: inherit;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* background: transparent; */
  padding: 8px 10px;
  padding-left: 35px;
  border-radius: 6px;
  /* color: #fff; */
  font-size: 16px;
  font-weight: 300;
  box-shadow: inset 0 -2.5px 0px rgba(0,0,0,0.2);
  width: 100%;
}
}
@media screen and (max-width: 600px){
  .formFormat label{
    padding: 5px 10px 0px 0px;
    font-weight: 900;
    width: 45%;
    font-size: 2vw;
  }
  .form .h5{
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .form .field{
    width: inherit;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* background: transparent; */
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    /* color: #fff; */
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
    width: 100%;
  }
}
  .button{
    /* background: #fff; */
    color: rgb(207, 203, 203);
    border-radius: 6px;
    width: 25%;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    Letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(-30deg, #262626 5%, #607d8b 100%, #3a78b7 50%, #03a9f4 100%);
    position: relative;
    right: -37.5%;
    font-size: 1.25vw;
  }
  img#email_icon{
    position: absolute;
    top: 8px;
    left:10px;
    transform: scale(0.7);
    mix-blend-mode: multiply;
  }
  img#password_icon{
    position: absolute;
    top: 63px;
    left:10px;
    transform: scale(0.7);
    /* filter: invert(1); */
    mix-blend-mode: multiply;
  }
  div#registration_card2 img#email_icon{
    position: absolute;
    top: 113px;
    left:10px;
    transform: scale(0.7);
    mix-blend-mode: multiply;
  }
  div#registration_card2 img#password_icon{
    position: absolute;
    top: 165px;
    left:10px;
    transform: scale(0.7);
    /* filter: invert(1); */
    mix-blend-mode: multiply;
  }
  p a{
    color: #fff;
    padding-left: 5px;
  }
  p a:hover{
    color:darkmagenta;
  }
  #welcome_pane{
    position: relative;
    /* padding: 50px; */
    width: 50%;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
    text-decoration: #fff;
    margin: 0% 0% 1% 0%;
    left: 450px;
  }
  #welcome_banners{
    width: 25%;
    justify-content: flex-end;
    /* align-items: center; */
    position: relative;
  }
  p#descriptions{
    margin: 2%;
    align-items: flex-end;
  }
  div.card.box-home{
    position: relative;
    padding: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
    text-decoration: #fff;
    margin: 0% 10% 2% 2%;
  }
  div.card-group{
    width: 100%;
    padding: 2%;
    height: 100%;
  }
  div.box-home::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(153, 74, 74, 0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
  }
  p.welcome_text{
    text-align : center;
  }
  /* img{
    width: auto;
    margin-bottom: 2%;
  } */
  img#meal_logo{
    /* padding: 0% 0% 5% 0%;  */
    width: 50%;
    height: inherit;
    position: relative;
    transform: scale(1.5);
    /* filter: invert(1); */
    mix-blend-mode: multiply;
    display: inline-flex;
  }
  #meal_cal{
    margin-top: 15%;
  }
  img#wo_logo{
    /* padding: 0% 0% 5% 0%;  */
    width: 50%;
    height: inherit;
    position: relative;
    transform: scale(1.5);
    /* filter: invert(1); */
    mix-blend-mode: multiply;
    display: inline-flex;
  }
  #wo_cal{
    margin-top: 15%;
  }
  img#goal_logo{
    /* padding: 0% 0% 5% 0%;  */
    width: 50%;
    height: inherit;
    position: relative;
    transform: scale(1.5);
    /* filter: invert(1); */
    mix-blend-mode: multiply;
    display: inline-flex;
  }
  #goals{
    margin-top: 15%;
  }
  p#cap{
    text-transform: capitalize;
  }
  div.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
  }
  div.kw_search{
    display: flex;
    align-items: center;
    vertical-align: center;
    flex-direction: column;
    /* width: inherit; */
    margin: 2% 0 30% 0;
    /* position: relative; */
    max-width: 900px;
    /* left: 550px; */
  /* max-height: 500px; */}
  form#search-form.kw_search-loading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #009578;
    animation: searchIndicator 0.6s infinite ease-in-out;
  }
  
  @keyframes searchIndicator{
    0% {
      width: 15%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 15%;
    }
  }
  
  div.kw_search:focus-within{
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }
  div.kw_search, input#search-term{
    font-family: verdana;
  }
  /*  * all elements inside */
  div.kw_search, input#search-term {
    transition: background 0.15s, box-shadow 0.15s;
  }
  div.kw_search, form#search-form{
    border-radius: 5px;
    width: 90vw;
  }
  
  div#meal-search{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 43.75em;
  }
  p#meal_header{
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    font-size: 2em;
  }
  form#search-form{
    width: 90vw;
    /* max-width: 60.63em; */
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 6px;
    background: white;
  }
  /* add css styling to the search results */
  form#search-form:focus-within{
    background: white;
  /*   width: 33.75em;
    min-width: 1.75em; */
    max-width: 90vw;
  }
  input#search-term{
    flex-grow: 1;
    border: none;
    outline: none;
    max-width: inherit;
    min-height: 3.13em;
    padding: auto;
    background: transparent;
    border-bottom: 1px outset lightgray;
    min-width: 80vw;
  }
  p#brand-name{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 2em;
    font-weight: bold;
  }
  #nmp{
    /* display: flex;
    flex-direction: row; */
    padding: 0%;
    margin: 8px 0;
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: italic;
  }
  img#food-img{
    width: 3.13em;
    height: 3.13em;
    margin-right: 20%;
  }
  .results-card{
    /* width: 43.75rem;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
    transition: .5s;
    border-radius: 7px;
    padding: 1%;
    background-color: white;
    margin: 0% auto;
      */
    position: relative;
    top: -24px;
    width: 80vw;
    /* min-width: 100vw; */
    /* max-width: 970px; */
    max-height: 250px;
    overflow-y: auto;
    
    /* Check below code block if results box isn't showing */
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s;
  }
  .visible{
    visibility: visible;
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.3);
  }
  .not-visible{
    display: none;
  }
  tr.instant-results th#brand-name tr.results{
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 0px;
    font-size: 0.8em;
    cursor: pointer;
  }
  tr.results:hover{
    background: rgb(178,178,177);
  }
  tr.results:not(:last-of-type){
    border-bottom: 1px solid #eeeeee;
  }
  th#brand-name{
    font-size: 1.1em;
    font-weight: bold;
  
  }
  /* input#search-input.search {
    width: 70%;
    height: 2%;
    padding: .5%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* input#search-input.search::after{
    color: seashell;
  } */
  label input#search-term{
    display: inline-block;
  }
  span#logMeal-btn{
    align-items: flex-end;
    /* May have to remove float */
    float: left;
    /* position: relative; */
    width: 55px;
    height: auto;
    /* top: -65px;
    right: 70px; */
  }
  .parentTag-container{
    margin: auto;
    width: 75vw;
    /* min-height: ; */
    min-width: 360px;
    max-width: 970px;
    max-height: 250px; 
  }
  .tag-container{
    border: 2px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* padding: 6px; */
    overflow-y: auto;
    min-height: 3.13em;
  }
  .tag-container #mealTag{
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
    font-size:.75em;
    font-weight: bold;
  }
  .tag{
  
  }
  i#close-icon {
    font-size: 8px;
    color: #666;
    margin-left: 5px;
  }
  .tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
  
  }
  .toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    position: relative;
    left: 50%;
    top: -23px;
    transform: translate(-50%, 50%);
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .toggle-btn{
    width: 80px;
    height: 25px;
    background:grey;
    border-radius: 30px;
    padding: 0px 1px;
    transition: all 300ms ease-in-out;
  }
  .toggle-btn > .inner-circle {
    width: 25px;
    height: 23px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }
  .toggle-btn.active{
    background: blue;
  }
  .toggle-btn.active > .inner-circle{
    margin-left: 49px;
  }
  table{
    width: 100%;
  }
  div#searchResults{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
  /* position: absolute; */
    width: inherit;
    min-height: 5em;
    height: 10em;
    max-height: 20em;
  }
  .visible::after{
    content: '';
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
  }
  span#mealTag{
    margin: 10px;
  }
  
  