{% extends 'base.html' %}


{% block content %}
<nav class="navbar row">
    <p class="h1">Hello {{users.first_name}}!</p>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="/wishes" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/new">Make a wish!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/stats">View stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul> 
</nav>
{% if messages %}
    <ul>
    {% for message in messages %}
        <li class="text-danger">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<div class="col border border-dark">
    <form action="/wishes/edit/{{wish.id}}/update/" method="POST" class="pt-3">
        {% csrf_token %}
        {{form}}
        <label for="item" class="col-row col-sm-1">I wish for:</label>
        <input type="text" class="col-row col-sm-5 form-group" name="item" id="item" value="{{wish.item}}">
        <label for="desc" class="col"> Description</label>
        <input type="text" class="col form-group" name="desc" id="desc" value="{{wish.desc}}">
        <span>
        <a href="/wishes/" role = 'button' class=" col-sm-2 btn btn-danger">Cancel</a>
        <button type='submit' class="col-sm-2 btn btn-secondary">edit</button>
        </span>
    </form>
{% endblock %}