{% extends 'base.html' %}


{% block content %}
<nav class="navbar row">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="/welcome" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/new">Log Meal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Log Workout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishes/stats">Add a New Goal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul> 
</nav>
<div>
    <p class="h2"> Workout Calendar</p>
    <datalist>
    {% for workout in workouts %}
    {% empty %}
        <option value="workout"></option>
    {%endfor%}
    </datalist>
</div>
{% endblock %}